
<div   th:fragment="footers" class="footer-bg">
      <link rel="stylesheet" th:href="@{/css/main.css}" />
  
<!-- <div class="f1"
 th:fragment="footers" >
    <p class="p1">We are located at Technopark TVM | Thampanoor TVM | Kochi,Kerala | Nagercoil, Tamil Nadu</p><br>
    
     <div class="contact-numbers">
        
  <span>9745936073 (TPK)</span>
  <span>9745936073 (TVM)</span>
  <span>7592939481 (EKM)</span>
  <span>8075536185 (NGL)</span>
  <span>info@scopeindia.org</span>
     </div><br><br>
<div class="p2"><span> All Rights Reserved </span>
    <span> SCOPE INDIA & SUFFIX E SOLUTIONS PRIVATE LIMITED</span>
     <span>2007-2025</span>
     <span>|</span>
     <span>Privacy policy </span> 
     <span>|</span>
     <span> Blog </span> </div>



</div> -->

     <footer class="main-footer">

    <!-- Location Line -->
    <div class="footer-top">
        We are located at Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu
    </div>

    <!-- Contact Details -->
    <div class="footer-contact">
        <span>9745936073 (TPK)</span>
        <span>9745936073 (TVM)</span>
        <span>7592939481 (EKM)</span>
        <span>8075536185 (NGL)</span>
        <span>info@scopeindia.org</span>
    </div>

    <!-- Bottom Copyright -->
    <div class="footer-bottom">
        <span>All Rights Reserved</span>
        <span>SCOPE INDIA & SUFFIX E SOLUTIONS PRIVATE LIMITED</span>
        <span> 2007–2025</span>
        <span>|</span>
        <span>Privacy Policy</span>
        <span>|</span>
        <span>Blog</span>
    </div>

</footer>
</div>

