

<div   th:fragment="headers" class="header-bg">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
     <div class="div2">
        
         
 <img class="img1" th:src="@{/images/scopeindia-logo.webp}" alt="Scope India" >
    <img class="img2" th:src="@{/images/google-rating-scope-india.webp}" 
         alt="Rating" width="170px" height="100px" >
     </div>
         

    <div id="div1" >
        <a th:href="@{/main}">Home</a>
        <a th:href="@{/course}" >Courses</a>
        <a th:href="@{/register}" >Registration</a>
        <a th:href="@{/about}" >About-us</a>
        <a th:href="@{/login}" >Login</a>
        <a th:href="@{/contact}">Contact-us</a>
        <!-- <a th:href="@{/sendOtp}">SendOtp</a>
        <a th:href="@{/verifyOtp}">verifyOtp</a>
        <a th:href="@{/submit}"> Submit</a> -->
    </div><br>

   

</div>
