<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/about.css}">
   
</head>
<body>
    <div  th:replace="~{common/header::headers}"></div>
<div class="div1" th:action="about">
    <div class="div2">
        <h1 class="h1">Know About SCOPE INDIA</h1>
    </div>
      <div style="background-color: white; position: relative; bottom: 42px; height: 150px;" >
        <h2 class="h4">Get Globally Certified from SCOPE INDIA </h2><br><br>
    <div  >
        <img th:src="@{/images/microsoft.png}" alt="microsoft" width="100px" height="50px" style="margin-left: 100px;">
        <img th:src="@{/images/ibm.png}" alt="ibm" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/google.png}" alt="google" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/amazon.png}" alt="amazon" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/redhat.png}" alt="redhat" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/istqb.png}" alt="istqb" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/cisco.png}" alt="cisco" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/github.png}" alt="github" width="100px" height="50px" style="padding-left: 100px;">
    </div>
    <br>
    </div>
    <div class="div3">
    <h1 class="h3">SCOPE INDIA, your career partner!</h1>


    <h2 class="h2">One of India's best Training destinations for Software, Networking, DevOps and Cloud <br>
        Computing courses with 18 years of Industrial experience. Over 1,000 students find<br>
         their dream careers each year, and we have assisted more than 15,000 students so<br>
          far.</h2><br><br>


          <p class="pp">Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job<br>
            TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data<br>
            Analytics), Java, PHP, .Net, MERN, Software Testing Manual and Automation, Cloud Computing (AWS | Azure), Server Administration (MicroSoft MCSE | Linux RHCE),<br> 
            Networking (CCNA), DevOps, Mobile App Development in Flutter, and Digital Marketing. A Training with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has<br>
            a Strong Placement Cell that provides jobs to thousands of students annually. We assure you, you won't regret it after training from SCOPE INDIA!</p><br><br>


               <p class="pp">This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.</p>
               <img th:src="@{/images/five-star.webp}" alt="5star" width="300px" height="100px" style="padding-left: 70px;">
               
                 <h5>  Google 4.9 * Rated Institute</h5>
    </div>
      <div class="div">
        <h1 class="hh1">Our Story</h1>
        <div class="line"></div><br><br>
        <div class="main">
        <div class="pa">
            <h2>Founded in 2007</h2>
            <p>With over two decades of experience creating extensive internet systems, Suffix E Solutions<br>
               is a top provider of networking and software services. By concentrating on our clients'<br>
               primary needs, we provide dependable and useful solutions that are suited to their <br>
               specifications. From documentation and framework design to coding, testing, and <br>
               continuing maintenance, we have experience with every stage of the development lifecycle.<br>
               Our knowledgeable engineers, who have 18 years of experience in a variety of fields, offer<br>
               detailed direction at every stage of the development process. Our vast knowledge base<br>
               enables us to provide our clients with accurate and efficient solutions.</p>

                     <img th:src="@{/images/iso.webp}" alt="iso" height="100px" width="280px">
        </div>
        <div class="pa">
            <h2>Growth</h2>
            <p>SCOPE INDIA began its journey in Trivandrum in 2015 and has steadily grown into a multi-<br>
               location training powerhouse. In 2019, we expanded to Kochi to support more aspiring<br>
               professionals. In 2021, the Nagercoil branch was proudly launched, and in 2023, we<br>
               launched our Technopark branch - bringing our high-quality training even closer to the<br>
               heart of Kerala's IT hub. Each branch reflects our commitment to making world-class IT <br>
               education accessible to more people.</p>
        </div>
        <div class="pa">
            <h2>Evolution</h2>
            <p>SCOPE INDIA was launched in 2015 by Suffix E Solutions to address the growing demand for<br>
               industry-relevant IT training under proficient working professionals. What began as a <br>
               mission to bridge the gap between education and employment has grown into one of the <br>
               most recognized names in tech education.</p>
        </div>
        <div class="pa">
            <h2>Present Day Impact</h2>
            <p>SCOPE INDIA has helped 15,000+ students build successful careers in IT. From fresh<br>
               graduates to working professionals, our alumni are now placed in reputed companies<br>
               across India and abroad, thanks to our dedicated placement support and industry-driven<br> 
               training. The team adopts all contemporary technologies from time to time, including Data<br>
               Science, Artificial Intelligence, Cloud Computing, DevOps, etc.</p>
        </div>
      </div>
      </div>





      <div class="ma">
         <h1>Our Mission & Vision</h1>
         <div class="abla">
         <div class="la">
            <h2>Our Mission</h2>
            <p class="p7">SCOPE INDIA seeks to close the knowledge gap between education and employment by offering <br>
                interactive, industry-focused IT training led by proficient working professionals and aligned with<br>
                 the latest trends and technologies. Our objective is to provide people with the technical expertise<br>
                  and confidence they need to build fulfilling careers.</p>
                 <div class="ab">
                    <p class="p1"> Industry-aligned curriculum</p>
                    <p class="p2">Practical skill development</p>
                    <p class="p3">Career-focused training</p>
                    </div>
                  
         </div>
         <div class="la">
            <h2>Our Vision</h2>
            <p class="p7">We aspire to become the most respected and forward-thinking training organization in India and<br>
                 beyond by shaping the future of IT education via innovation, integrity, and strong industry ties.<br>
                  We intend to expand globally.</p>
                  <div class="ab">
                    <p class="p4">Global recognition</p>
                    <p class="p5">Innovation leadership</p>
                    <p class="p6">Technology excellence</p>
                  </div>
         </div>
         </div>

      </div>




</div>


<div  th:replace="~{common/footer::footers}"></div>

</body>
</html>