<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    
</head>
<body>
<div th:replace="~{common/header::headers}">

</div>

   
 <div style=" background-color: #071A57; position: relative ;bottom:25px; text-align: center; color: yellow;">
        <h1 class="h1">Your career partner! </h1><br>
    </div>

    <div class="div1" style="background-color: white; position: relative ;bottom:50px;">
            <h1 class="h2" >Center for Software, Networking, & Cloud Education</h1>
     <h4 class="h3" >One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers<br>
         each year, and we have assisted more than 15,000 students so far.<br><br></h4>
    </div>
    <div  class="img" style="background-color: white; position: relative; bottom: 65px;" >
        <h2 class="h4">Get Globally Certified from SCOPE INDIA </h2><br><br>
    <div  >
        <img th:src="@{/images/microsoft.png}" alt="microsoft" width="100px" height="50px" style="margin-left: 100px;">
        <img th:src="@{/images/ibm.png}" alt="ibm" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/google.png}" alt="google" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/amazon.png}" alt="amazon" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/redhat.png}" alt="redhat" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/istqb.png}" alt="istqb" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/cisco.png}" alt="cisco" width="100px" height="50px" style="padding-left: 100px;">
        <img th:src="@{/images/github.png}" alt="github" width="100px" height="50px" style="padding-left: 100px;">
    </div>
    <br>
    </div>
    <div class="div9">
    <div class="div8">
        <h1 class="h8">Dreaming about a career in IT</h1>
        <h2 class="h9">Spearheaded by the working professionals of Suffix E Solutions in flexible <br>
            learning mode, we provide quality training with 100% placement support.</h2>
        <h2 class="h10">We provide comprehensive courses in:</h2>
        <div class="course-list">
    <ul>
        <li>Software Programming</li>
        <li>Data Science & AI</li>
        <li>Data Analytics</li>
        <li>Cloud Computing</li>
        <li>Mobile App Development</li>
    </ul>

    <ul>
        <li>DevOps</li>
        <li>Software Testing</li>
        <li>Server Administration</li>
        <li>Networking</li>
        <li>Digital Marketing</li>
    </ul>
</div>

    <section class="features">
        <div class="card">
           <h3>Classes</h3>
           <p>Learn Anywhere, Anytime - Online <br>
            & in-Person Classes Available!</p>
        </div>
        <div class="card">
             <h3>Placement</h3>
             <p>Guaranteed Success -100% <br>
                Placement Support</p>
        </div>
        <div class="card">
            <h3>Training</h3>
            <p>Training by Working Professionals <br>
                of Suffix E Solutions</p>

        </div>
        <div class="card">
            <h3>Internship</h3>
            <p>OJT (On the Job Training) under <br>
               Suffix E Solutions after course <br>
               completion with experience <br>
               certificate</p>

        </div>
        
    </section>
    </div>  
    </div>

    <div class="ho">
        <h1>Placement Highlights</h1>
        <div class="lo">
        <div class="h">
            <h2>100%</h2>
            <p>Placement Assistance</p>
        </div>
        <div class="h">
            <h2>1000+</h2>
            <p>Students are Getting Placed Every Year</p>
        </div>
        <div class="h">
            <h2>500+</h2>
            <p>Partner Companies</p>
        </div>
        </div>
    </div>


 <div class="ma">
         <h1>Our Mission & Vision</h1>
         <div class="abla">
         <div class="la">
            <h2>Our Mission</h2>
            <p>SCOPE INDIA seeks to close the knowledge gap between education and employment by offering <br>
                interactive, industry-focused IT training led by proficient working professionals and aligned with<br>
                 the latest trends and technologies. Our objective is to provide people with the technical expertise<br>
                  and confidence they need to build fulfilling careers.</p>
                 <div class="ab">
                    <p> Industry-aligned curriculum</p>
                    <p>Practical skill development</p>
                    <p>Career-focused training</p>
                    </div>
                  
         </div>
         <div class="la">
            <h2>Our Vision</h2>
            <p>We aspire to become the most respected and forward-thinking training organization in India and<br>
                 beyond by shaping the future of IT education via innovation, integrity, and strong industry ties. We<br>
                  intend to expand globally.</p>
                  <div class="ab">
                    <p>Global recognition</p>
                    <p>Innovation leadership</p>
                    <p>Technology excellence</p>
                  </div>
         </div>
         </div>

      </div>

    </div>
    <div  th:replace="~{common/footer::footers}"></div>
</body>
</html>